<nav class="app-account">
    <div class="app-dropdownmenu">
        <a href="#" onclick="return false;">
            {% if not app.user %}
                {{ ux_icon('ic:sharp-account-circle', {'class': 'app-icon'}) }}
            {% else %}
                {{ ux_icon('ic:baseline-account-balance', {'class': 'app-icon'}) }}
            {% endif %}
        </a>

        <div class="dropdown-content">
            <div class="dropdown-item">
                <img src="{{ asset('img/navigation.webp') }}" alt="Utilisateur"/>
            </div>
            <div class="dropdown-item">
                <div class="app-grid two">
                    <div class="grid-item">
                        {% if app.user %}
                            <strong>{{ app.user.name }}</strong>
                            <a href="#"
                               class="text-danger"
                               onclick="return window.confirm('Tu pars déjà ?')">
                                <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                Déconnecte-toi
                            </a>
                        {% else %}
                            <strong>Non connecté</strong>
                            <a href="#"
                               class="{% if app.request.get('_route') == 'app_login' %}active{% endif %}">
                                <img src="{{ asset('img/logo_small.png') }}" class="bullet" alt="BSS"/>
                                Connecte-toi
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
